  <nav class="navbar navbar-expand-lg navbar-light bgNav">
    <a  href="/" class="colorHead">
  <img src="http://icons.iconarchive.com/icons/blackvariant/button-ui-requests-5/1024/ToDo-List-icon.png" width="30" height="30" alt="TODO ICON">
      Todo App
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon borderHook"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a  href="/todos" class="colorHead">Todos </a>
      </li>
    </ul>

    </div>
  </nav>
